
h1{
  font-family: Helvetica;
  color: black;
  font-size: 80px;
  letter-spacing: .2em;
  text-align: center;
}

h5{
  font-family: Helvetica;
  color: #FF66CC;
  letter-spacing: .2em;
  text-align: center;
}

li{
  display: inline;
  padding: 50px;
}

ul{
  text-align: center;
  position: relative;
  right: 30px;
  top: 20px;
}

li a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: #FF66CC;
}

#selfie{
  position: relative;
  top: 30px;
  left: 350px;
}
/*refactor*/

body{
  width: 960px;
  margin: 0 auto;
}

#footer{


}