
h1{
  font-family: 'Indie Flower', cursive;
  color: black;
  font-size: 80px;
  letter-spacing: .2em;
  text-align: center;
}

h5{
  font-family: 'Indie Flower', cursive;
  color: #FF66CC;
  letter-spacing: .2em;
  text-align: center;
}

li{
  display: inline;
  padding: 50px;
  font-family: 'Indie Flower', cursive;
}

ul{
  text-align: center;
  position: relative;
  right: 30px;
  top: 20px;
  margin-bottom: 70px;
}

li a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: #FF66CC;
}

body{
  width: 960px;
  margin: 0 auto;
}

#icons img{
  display: inline-block;
  padding: 20px;
  height: 250px;
  width: 250px;
}