p {
  font-size: 15px;
  font-family: sans-serif;
  width: -500px;
  height: 200px;
  text-align: left;
  margin-left: 200px;
  margin-right: 200px;
}

#header {
  background-color: gray;
  color: white;
  text-align: center;
  font-size: 40px;
  font-family: sans-serif;
  width: 500px;
  margin-left: 200px
}

.topic {
  text-align: center;
}

#date{
  text-align: center;
}

body {
  position: center;
}

/*  display: inline-block; for nav bar */