img{
  display: block;
  margin: auto;
  width: 300px;
  margin-top: 30px;
  margin-bottom: 5px;
}

/** Why does block work, is there a better way to center pictures? **/

.center{
  text-align: center;
  font-family: helvetica;
}

/** make a class that centers every text **/

p{
  text-align: left;
  margin-right: 80px;
  margin-left: 80px;
  margin-bottom: 0;
  line-height: 2.1em;
}

h2{
  color: #FF66CC;
}

ul li{
  font-family: 'Indie Flower', cursive;
  display: inline;
  padding: 35px;
  color: #FF66CC;
}

ul{
  padding-top: 20px;
  text-align: center;
  position: relative;
}

body{
  width: 960px;
  margin: auto;
}

.code{
  background-color: pink;
  margin: auto;
  width: 800px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  text-align: left;
}

