
/*My name*/
#name a{
  font-family: 'Indie Flower', cursive;
  color: black;
  font-size: 80px;
  letter-spacing: .2em;
  text-align: center;
  margin: 10px;
  text-decoration: none;
  margin-left: 310px;
}
/*full stack developer*/
h5{
  font-family: 'Indie Flower', cursive;
  color: #FF66CC;
  letter-spacing: .2em;
  text-align: center;
  margin: 10px;
}
/*welcome*/
h4{
  font-family: 'Indie Flower', cursive;
  color: #FF66CC;
  letter-spacing: .2em;
  max-height: 30px;
  max-width: 200px;
  margin-left: 550px;
  margin-top: 130px;
}
/*navigation*/
li{
  font-family: 'Indie Flower', cursive;
  display: inline;
  padding: 50px;
}

ul{
  text-align: center;
  position: relative;
  right: 30px;
  top: 20px;
}

li a{
  text-decoration: none;
  color: black;
}

a.header:hover {
  color: #FF66CC;
}

a.project:hover {
  color: red;
}
/*main picture*/
#selfie img{
  position: absolute;
  margin-top: 70px;
  max-width: 400px;
  max-height: 400px;
}
/*refactor*/
#selfie{
  max-height: 400px;
  max-width: 300px;
}
/*main page*/
body{
  width: 960px;
  height: 650px;
  margin: 0 auto;
}
/*text*/
p{
  font-family: 'Indie Flower', cursive;
  margin-left: 400px;
  margin-top: 10px;
  max-width: 450px;
  max-height: 200px;
  text-align: center;
}
/*footer*/
#footer{
  margin-top: 80px;
}

#footer img{
  width: 30px;
  height: 30px;
}