#header {
  height: 100px;
  width: 100%;
  background-color: #ee3e80;
  text-align: center;
  font-size: 40px;
}

#header a {
  text-decoration: none;
  color: white;
  font-family: serif;
}

body {

}

#main img{
  background-color: white;
  height: 250px;
  padding-bottom: 100px;
  display: block;
  margin: 0 auto;
  position: relative;
  right: -280px;
  top: 100px;
}


#nav a {
  text-decoration: none;
  color: #ee3e80;
}

#nav a:hover{
  color: gray;
}

#about-me {
  position: absolute;
  display: inline-block;
  top: 280px;
  left: 150px;
  width: 400px;
  font-family: serif;
  color: #221559;
}

#nav ul li {
  display: inline-block;
  padding-left: 350px;
  padding-top: 5px;
  font-family: serif;
  font-size: 20px;
}

#footer ul li {
  display: inline-block;
  padding-left: 60px;
}


